<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>

  <body>
    <div class="w3-bar w3-black">
      <%= link_to('Home', '/', {class: 'w3-bar-item w3-button'}) %>
      <%= link_to('About', '/aboutit', {class: 'w3-bar-item w3-button'}) %>
      <%= link_to('Data', '/data', {class: 'w3-bar-item w3-button'}) %>
      <%= link_to('EIF', 'https://eif.viko.lt/', {class: 'w3-bar-item w3-button'}) %>
    </div>
    <div class="w3-container">
        <h2><%= @page_title %></h2>
        <hr/>
        <%= yield %>
    </div>
  </body>
</html>
